<style>
  #map {
   height: 500px;
   width: 80%;
   margin-left: 10%;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   border-width: 7px;
 }
 .map-form {
  margin-left: 10%;
 }
</style>	

<div class="map-form">
      <div class="form-group">
        <div class="col-sm-6">
        Lat : <input id="lat" class="lat form-control" name="lat" type="lat" /> 
        Lng : <input id="lng" class="lng form-control" name="lng" type="lng" /> 
        
        OR

        Polygon Name : <input id="poly-name form-control" class="poly-name"/> <br/>

        <button type="button" class="btn btn-default show-polygon"> Show Polygon </button>

        <button type="button" class="btn btn-default save-polygon"> Save Polygon </button>
        </div>
      </div>
    </div>




<div id="map"></div>
<script>
	$(function(){
		$(".show-polygon").on("click",function(){
			var lat = $(".lat").val();
			var lng = $(".lng").val();
      var polyName = $(".poly-name").val();

      $.ajax({
        url: "<%= show_polygon_gmaps_path %>",
        type:"GET",
        data: {lat: lat,
        			 lng: lng,
               name: polyName },
        success: function(){
          console.log("saved")
        },
        error: function(){
           console.log('failure');
        }
      });
    });
	});
</script>